  <div class="preset" id="inflator">
    <button type="button" class="bluetooth-link" id="connect">Connect to device</button>
    <button type="button" class="bluetooth-link" id="disconnect">Disconnect</button>

    <div class="preset-pressure">
      <div class="preset-element" >
        <p class="small">Current Pressure</p>
        <h3 id="current-pressure">...</h3>
        <p class="small">psi</p>
        <button id="get-pressure">Get Pressure</button>
      </div>

      <div class="preset-element">
        <form id="pressure-form">
          <p class="small">Wanted Pressure</p>
          <input class="pressure-value" id="pressure-input" type="number" value=<%= params[:pressure] ? params[:pressure] : 0 %>>
          <p class="small">psi</p>
          <button type="submit" id="set-pressure">Set Pressure</button>
        </form>
      </div>
    </div>

    <div id="terminal">
      <div>Device connection...</div>
      <div class="out">Outcoming message</div>
      <div class="in">Incoming message</div>
    </div>
  </div>
<%= javascript_pack_tag "pages/inflator" %>
