/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --big-font: 3vw;
  --small-font: 1vw;
  --running-width: 70vw;
  --main-background-color: hsl(0, 0%, 90%);
  --header-background-color: #ffffff;
}

body {
  word-wrap: break-word;
  overflow-x: hidden;
  background-color: var(--main-background-color);
  margin: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto 10fr auto;
  line-height: normal;
}

footer,
header {
  background-color: var(--header-background-color);
  box-shadow: 0px 0px 5px 0.5px grey;
  display: flex;
  flex-direction: row;
  place-content: center;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
}

header {
  z-index: 1;
  padding-bottom: 1rem;
  grid-column: 1 / 4;
  grid-area: header;
}

footer {
  padding-top: 1rem;
  margin-top: 1rem;
  grid-column: 1 / 2;
  grid-area: footer;
  width: 100%;
}

main {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 0 auto;
  background-color: whitesmoke;
  grid-area: main;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big {
  height: 50%;
  width: 100%;
}

p.author {
  font-size: 1vw;
  color: #333;
}

.big p {
  font-size: var(--big-font);
}

.big p.author {
  font-size: var(--small-font);
}

nav {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
}

h4 {
  margin: 1rem;
}

a {
  text-decoration: none;
}

nav a {
  padding: 0.25rem 1rem;
  border-right: 2px hidden;
  border-left: 2px hidden;
}

a {
  color: black;
}

a:visited {
  color: black;
}

nav a:hover {
  color: grey;
}

.flex-col-centered {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.center {
  width: var(--running-width);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.section-title {
  display: block;
  margin: 1% auto;
  padding-bottom: 1%;
  font-weight: bold;
  font-size: var(--big-font);
  border-bottom: 2px solid grey;
}

#copyright {
  color: grey;
}

small {
  color: grey;
}

.small {
  color: #444444;
}

.title {
  font-weight: bold;
  font-size: 1.5vmax;
}

.auth {
  border-top: 1px grey solid;
  margin-top: 0.3rem;
  padding-top: 0.3rem;
}

.preset {
  width: fit-content;
  min-width: 25vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dcdcdc;
  padding: 1rem 1rem;
  box-shadow: 0 0 5px #333;
  border-radius: 10px;
}

.preset-pressure {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 3rem;
}

.form {
  display: flex;
  margin-top: auto;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

input,
button {
  border: 1px solid #333;
  border-radius: 5px;
  text-align: center;
  margin: 0.5rem 0;
  padding: 2%;
  background-color: #d3d3d3;
  cursor: pointer;
}

.preset-element {
  background-color: #b3b3b3;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 0 7px rgb(111, 111, 111);
  margin: auto;
}

.preset-element h3 {
  text-align: center;
}

a:hover {
  color: #444;
}

.pressure-value {
  aspect-ratio: 1;
  width: 2rem;
  margin: 0.1rem auto;
  display: block;
}

#current-pressure {
  margin: 1.4rem auto;
  display: block;
}

#get-pressure,
#set-pressure {
  display: block;
  margin: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.bluetooth-link {
  margin-top: 0.5rem;
}

#terminal {
  margin-top: 0.5rem;
}

#terminal div {
  color: gray;
}

#terminal div.out {
  color: rgb(186, 0, 0);
}

#terminal div.in {
  color: rgb(19, 19, 157);
}

#inflator {
  margin-bottom: 2rem;
}

.form-element {
  width: 50%;
}

.form-element input {
  max-width: 90%;
}
